@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*
  SPACE SIZE SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /
  80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
  36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
  MAIN COLOR: white;
  GREY COLOR: hsl(277, 64%, 61%);
*/

/* {} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;

  object-fit: cover;
  opacity: 0.6;
}

.container {
  background-color: hsl(277, 60%, 51%);
  width: 1080px;
  height: 446px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
}

h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 36px;
}
em {
  color: hsl(277, 64%, 61%);
  font-style: normal;
}

.main-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
  margin-top: 26px;
  margin-right: 48px;
}

.left-side {
  height: 446px;
  background-color: hsl(244, 38%, 16%);
  padding: 64px 64px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.details {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
}

.details p {
  font-size: 22px;
}

span {
  font-size: 12px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
}

section p {
  margin-bottom: 1px;
}
